html,
body {
	height: 0%;
}

:host ::ng-deep .p-card {
	width: 400px;
}

:host ::ng-deep .p-card-header {
	padding: 1rem;
}

:host ::ng-deep html,
::ng-deep body {
	height: 0%;
}

:host ::ng-deep .border-round {
	border-radius: 0px !important;
}

:host ::ng-deep .p-card .p-card-footer {
	padding: 0;
}

:host ::ng-deep .p-card .p-card-body {
	padding-top: 0rem;
}



@media (min-width: 200px) {
	/* :host ::ng-deep .main-wrapper {
		margin-top: 40px;
	} */

	:host ::ng-deep .p-card {
		width: 300px;
	}
}

 @media (min-width: 600px) {
	/* :host ::ng-deep .main-wrapper {
		margin-top: 80px;
	} */

	:host ::ng-deep .p-card {
		width: 400px;
	}
}

@media (min-height: 500px) {
	:host ::ng-deep .main-wrapper {
		margin-top: 50px;
	} 
}


@media (min-height: 600px) {
	:host ::ng-deep .main-wrapper {
		margin-top: 100px;
	} 
}



/*


@media (min-width: 1000px) {
	:host ::ng-deep .main-wrapper {
		margin-top: 100px;
	}


}


@media (min-width: 1500px) {
	:host ::ng-deep .main-wrapper {
		margin-top: 150px;
	}
}

@media (min-width: 2000px) {
	:host ::ng-deep .main-wrapper {
		margin-top: 180px;
	} 
}*/